[Unit]
Description=qmail-smtpd Service
After=network.target qmail-smtpd.socket
Requires=qmail-smtpd.socket

[Service]
Type=simple
ExecStart=/var/qmail/bin/qmail-smtpd
Environment=PATH=/var/qmail/bin:/usr/bin:/bin:/usr/sbin:/sbin
TimeoutStopSec=5

[Install]
WantedBy=default.target