worker_processes 1
user "{{ lobsters_user }}"
working_directory "{{ lobsters_app_path }}"
listen "{{ unicorn_socket_file }}", :backlog => 64
pid "{{ unicorn_pid_file }}"
timeout 30

stderr_path "/srv/lobste.rs/log/unicorn.stderr.log"
stdout_path "/srv/lobste.rs/log/unicorn.stdout.log"

preload_app false

before_fork do |server, worker|
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.connection.disconnect!
  end

  old_pid = "#{server.config[:pid]}.oldbin"
  if old_pid != server.pid
    begin
      sig = (worker.nr + 1) >= server.worker_processes ? :QUIT : :TTOU
      Process.kill(sig, File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
    end
  end

  system("rm -rf /srv/lobste.rs/cache")
end

after_fork do |server, worker|
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.establish_connection
  end
end
