# Unicorn unit file for:
# Lobste.rs -- https://lobste.rs

[Unit]
Description=Lobsters Unicorn Server
#Wants=mariadb.service
#After=mariadb.service

[Service]
User=lobsters
Group=lobsters
WorkingDirectory=/srv/lobste.rs/http/
Environment=RAILS_ENV=production
SyslogIdentifier=lobsters-unicorn
PIDFile=/srv/lobste.rs/run/unicorn.pid

Restart=always
RestartSec=60
StartLimitBurst=5
StartLimitInterval=3600

ExecStart=/usr/local/bin/bundle exec "unicorn_rails -c config/unicorn.conf.rb -E production -D config.ru"
ExecReload=/usr/bin/kill -USR2 $MAINPID
ExecStop=/usr/bin/kill -QUIT $MAINPID

[Install]
WantedBy=multi-user.target

