- include: apt.yml
  when: "'{{ family }}' == 'debian'"

- name: copy up logrotate and tarsnap configs
  copy: >
    src="{{ item.file }}"
    dest="{{ item.dest }}"
    owner=root
    group=root
    mode="0644"
  with_items:
    - { dest: "/etc", file: "logrotate.conf",}
    - { dest: "/etc", file: "tarsnap.conf" }
    - { dest: "/etc/logrotate.d", file: "mysql-server" }
    - { dest: "/etc/logrotate.d", file: "rails" }
    - { dest: "/etc/logrotate.d", file: "nginx" }
    - { dest: "/etc/logrotate.d", file: "unicorn" }

- name: remove logrotate package's cron job
  file:
    path: /etc/cron.daily/logrotate
    state: absent

- name: copy up backup script
  copy: >
    src="backup-cron"
    dest="/usr/local/sbin"
    owner=lobsters
    group=lobsters
    mode="0700"

- name: add crontab entry
  tags: cron
  cron: >
    state=present
    name=lobsters-cron
    user=root
    minute="0"
    hour="0"
    job=/usr/local/sbin/backup-cron
