- include_tasks: apt.yml

# puma config lives in the rails repo

- name: copy puma systemd service config
  template: >
    src="lobsters-puma.service.j2"
    dest="/etc/systemd/system/lobsters-puma.service"
    owner=root
    group=root
    mode="0644"

- name: just force systemd to reread configs
  systemd: >
    name="lobsters-puma"
    enabled=yes
    daemon_reload=yes
