- include_tasks: apt.yml

# puma config lives in the rails repo

- name: copy puma systemd service config
  register: puma_service
  template: >
    src="lobsters-puma.service.j2"
    dest="/etc/systemd/system/lobsters-puma.service"
    owner=root
    group=root
    mode="0644"

- name: systemctl reload new puma config
  when: puma_service.changed
  systemd: >
    name="lobsters-puma"
    enabled=yes
    daemon_reload=yes

# hot restart to pick up service change
- name: restart puma
  when: puma_service.changed
  systemd: >
    name="lobsters-puma"
    state=restarted
