[Unit]
Description=Puma HTTP Server
After=mysql.service

# Uncomment for socket activation (see below)
# Requires=puma.socket

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple
User=lobsters
Group=lobsters
WorkingDirectory=/srv/lobste.rs/http
SyslogIdentifier=puma

Restart=always
RestartSec=60
StartLimitBurst=5
StartLimitInterval=3600

# RUBYOPT to silence deprecations is: -W:no-deprecated
Environment=RAILS_ENV=production RUBYOPT='--yjit' PUMA_WORKERS=20
# Environment=PUMA_DEBUG=1

# use binstub
ExecStart=/srv/lobste.rs/.rbenv/shims/bundle exec puma -C /srv/lobste.rs/http/config/puma.rb
# pumactl assumes the control server is running and I don't want to hassle and
# set that up
ExecReload=/usr/bin/pkill -SIGUSR1 -F /srv/lobste.rs/run/puma.pid

# Variant: Rails start.
# ExecStart=/<FULLPATH>/bin/puma -C <YOUR_APP_PATH>/config/puma.rb ../config.ru

# Variant: Use `bundle exec --keep-file-descriptors puma` instead of binstub
# Variant: Specify directives inline.
# ExecStart=/<FULLPATH>/puma -b tcp://0.0.0.0:9292 -b ssl://0.0.0.0:9293?key=key.pem&cert=cert.pem

[Install]
WantedBy=multi-user.target

